$highlightFont: #d387bc;
$highlightLink: #ffa000;
$header-color: rgb(59, 65, 71);
$header-bg-color: rgb(40, 42, 44);
$primary: #16a085;
$burger-dimensions: 40px;
$menu-width: 200px;
$image-height: 400px;
$contactHeight: 4rem;