$highlightFont: #d387bc;
$highlightLink: #ffa000;
$header-color: rgb(59, 65, 71);
$header-bg-color: rgb(39, 41, 43);
$primary: rgb(87, 74, 100);
$header-height: 80px;
$burger-dimensions: 40px;
$menu-width: 220px;
$image-height: 400px;
$contactHeight: 3rem;
$lightmode-font-color: white;
$lightmode-bg-color: rgb(230, 223, 223);
$darkmode-bg-color: rgb(27, 24, 46);
$darkmode-menu-color: rgb(23, 24, 26);