$highlightFont: #d387bc;
$highlightLink: #ffa000;
$header-color: rgb(59, 65, 71);
$header-bg-color: rgb(39, 41, 43);
$primary: #16a085;
$header-height: 80px;
$burger-dimensions: 40px;
$menu-width: 220px;
$image-height: 400px;
$contactHeight: 3rem;
$darkmode-bg-color: rgb(27, 24, 46);