@import 'variables.scss';

/* Remove browser scrollbar */
:root {
  -ms-overflow-style: none; /*IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;

    h1 {
        width: 100%;
        font-size: 2.5rem;
        color: $highlightFont;
        text-align: center;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: pink;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(#{$burger-dimensions} * 2.5);
    z-index: 10;

    .contact-links {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1rem;
        right: 0;
        height: $contactHeight;
        padding: 0.25rem 0;
        color: white;
        background: rgba(0,0,0,0.8);
        clip-path: polygon(1.5% 0, 100% 0, 100% 100%, 0% 100%);

        span {
            cursor: pointer;
            margin: 0 10px;
            font-size: 1rem;
            &:first-child {
                margin-left: 1rem;
            }
            &:last-child {
                margin-right: 2rem;
            }
            &:hover {
                color: $highlightFont;;
            }
        }

        #email-address {
            margin-left: 2rem;
        }

        #github-link, #linkedin-link {
            height: 100%;
            width: 1.75rem;
            background-image: url('./assets/github-logo.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
                background-image: url('./assets/github-logo-hover.png');
            }
        }

        #linkedin-link {
            background-image: url('./assets/linkedin-logo.png');

            &:hover {
                background-image: url('./assets/linkedin-logo-hover.png');
            }
        }

        img {
            margin: auto 0;
            margin-left: 0.5rem;
            height: 100%;
        }
    }
}

.menu-container {
    margin-top: 1rem;
    margin-right: 2rem;
    position: absolute;
    left: 1rem;
    width: calc(#{$burger-dimensions} * 1.5);
    height: calc(#{$burger-dimensions} * 1.5);

    .menu {
        position: fixed;
        top: 0;
        height: 2000px;
        min-height: 100vh;
        opacity: 1;
        left: 0;
        width: calc(#{$menu-width} * 0.8);
        transition: right 400ms ease-out, opacity 0.5s ease;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background: rgba(0,0,0,0.85);
        clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
        z-index: 1;

        ul {
            margin-top: 20vh;
            margin-right: 25%;
            list-style: none;
            font-size: 1rem;
            transform: rotate(4deg);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;

            .link {
                position: relative;
                transform: rotate(-4deg);
                margin-bottom: 2.5rem;
                cursor: pointer;
                font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                text-decoration: none;
                color: white;
                transition: margin-right 200ms ease-in-out;

                &:hover {
                    text-shadow: 0 0 12px white;
                    // text-decoration: underline;
                    // text-decoration-color: rgba(255,255,255,0.75);
                    // text-decoration-thickness: 3px;

                    &::before {
                        position: absolute;
                        left: -20px;
                        top: 0;
                        height: 100%;
                        width: 20px;
                        content: '‣';
                    }
                }
            }

            .active-link {
                color: $highlightFont;
                &:hover {
                    text-shadow: none;
                    // text-decoration: none;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    .toggler {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;
        z-index: 10;

        &:checked {
            & + .burger-menu div {
                background-color: white;
                transform: rotate(225deg);
                &::after {
                    background-color: white;
                    top: 0;
                    transform: rotate(90deg);
                }

                &::before {
                    top: 0;
                    background-color: white;
                }
            }

            & ~ .menu {
                right: 0;
                opacity: 1;
            }
        }
    }
    
    .burger-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        z-index: 5;
        
        div {
           width: 80%;
           height: 7px;
           background-color: black;
           position: relative;
           transition: transform 400ms ease-in-out;
           
           &::before, &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 7px;
                background-color: black;
                transition: background-color 2s ease;
            }
            
            &::before {
                top: -15px;
           }

           &::after {
               bottom: -15px;
           }
        }
    }
}

.main {
    position: relative;
    height: 100vh;
    width: calc(100vw - #{$menu-width} * 0.8);
    margin-left: calc(#{$menu-width} * 0.8);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

//scroll fader using pseudo element
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: calc(#{$contactHeight} * 2.75);
        z-index: 1;
        background: linear-gradient(to bottom, white 60%, rgba(0,0,0,0) 100%);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $contactHeight 0;
    height: calc(100% - 5rem);
    width: 100%;
    margin-top: 5rem;
    overflow-x: hidden;
    gap: 4rem;
}

.home-container, .contact-container {
    height: 70%;
    justify-content: center;
    & > div {
        width: 80%;
        background-color: rgba($highlightFont,0.7);
        padding: 1rem;
    }
}

#home {
    display: flex;
}

#projects {
    display: none;
}

#contact {
    display: none;
}

.fader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 1.5rem 2.5rem;
    opacity: 0;
    color: black;
    background-color: rgba($highlightFont, 0.25);
    clip-path: polygon(4% 0, 100% 0, 96% 100%, 0 100%);
    transform: translateX(25vw);
    transition: transform 650ms ease-out, opacity 250ms ease-in, width 400ms ease-in-out;
    
    .project-description {
        width: 90%;
    }

    .image-container {
        position: relative;
        background: white;
        margin: 1rem auto 1.5rem;
        width: 90%;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
        z-index: 0;

        img {
            height: 100%;
        }

        &::before, &::after {
            position: absolute;
            content: '';
            bottom: 7px;
            width: 45%;
            height: 20px;
            background: rgba(0,0,0,0.3);
            box-shadow: 0 0 5px 8px rgba(0,0,0,0.3);
            z-index: -1;
        }

        &::before {
            left: 10px;
            transform: rotate(-1.5deg);
        }

        &::after {
            right: 10px;
            transform: rotate(1.5deg);
        }

        &:hover {
            &::before, &::after {
                display: none;
            }
        }
    }

    .project-links {
        display: flex;
        justify-content: space-around;
        width: 90%;

        a {
            max-width: 35%;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,0.05);
            border: 1px solid black;
            padding: 1.5rem 2rem;
            color: black;
            text-align: center;
            text-decoration: none;

            &:hover {
                background: rgba(0,0,0,0.8);
                color: pink;
            }
        }
    }
}

.appear {
    transform: translateX(0);
    opacity: 1;
}

.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 99;
    
    .action-message {
        color: white;
        position: fixed;
        margin: auto;
        z-index: -1;
    }

    .image {
        width: 75vw;
        height: 50vw;
        max-width: 75vw;
        max-height: 75vh;
        opacity: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: opacity 800ms ease;

        &:hover {
            opacity: 1;
        }
    }

    .close-fullscreen {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2vh;
        right: 2vh;
        width: 60px;
        height: 60px;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }
}

@media screen and (hover: none) {
    .fullscreen {
        .image {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 750px) {

    .header {
        height: calc(#{$burger-dimensions} * 2);
    }

    .contact-links {
        display: none;
        opacity: 0;
    }

    .fullscreen {

        // .image {
        //     opacity: 1;
        // }

        .close-fullscreen {
            width: 40px;
            height: 40px;
            font-size: 2rem;
        }
    }

    .main {
        width: 100vw;
        margin: 0 auto;

        &::before {
            display: none;
            width: 100%;
        }

        .container {
            margin: 0 auto;
            height: 100%;
            padding: 4rem 0;
        }

        .fader {
            width: 90vw;

            .image-container {
                &::before, &::after {
                    display: none;
                }

                img {
                    height: 100%;
                }
            }
        }
    }

    .menu-container {

        .toggler {
            display: block;
        }
    
        .menu {
            top: -110vh;
            left: 0;
            width: 100vw;
            height: 100vh;
            clip-path: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            ul {
                margin: 0;
                transform: rotate(0);
                font-size: 1.5rem;
                .link {
                    transform: rotate(0);
                }
                li {
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
        width: $burger-dimensions;
        height: $burger-dimensions;

        .burger-menu {
            display: flex;

            div {
                height: 5px;
                
                &::before {
                    top: -10px;
                    height: 5px;
                }
                
                &::after {
                    bottom: -10px;
                    height: 5px;
                }
            }
        }
    }

    .toggler:checked ~ .menu {
        top: 0;
    }
}

@media screen and (min-width: 900px) {
    .fader {
        width: 60%;
    }

    .menu-container .menu {
        width: calc(#{$menu-width} * 0.9);

        ul {
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width: 1900px) {

    body {
        font-size: 2rem;

        h1 {
            font-size: 4rem;
        }
    }

    .header {
        height: calc(#{$burger-dimensions} * 3.5);

        .contact-links {
            height: calc(#{$contactHeight} * 1.8);

            span {
                font-size: 2rem;
            }
            
            #github-link, #linkedin-link {
                width: 2.75rem;
            }
        }
    }

    .menu-container .menu {
        width: calc(#{$menu-width} * 1.3);

        ul {
            font-size: 1.8rem;
        }
    }

    .main {
        margin-left: calc(#{$menu-width} * 1.2);
        width: calc(100vw - (#{$menu-width} * 1.2));

        &::before {
            height: calc(#{$contactHeight} * 4);
        }
    }

    .projects-container {

        .fader {
            width: 75%;
            margin-top: 4rem;

            .image-container {
                &::before, &::after {
                    bottom: 10px;
                    width: 75%;
                }
        
                &::before {
                    transform: rotate(-1deg);
                }
        
                &::after {
                    transform: rotate(1deg);
                }
            }

            .project-links {
                a {
                    padding: 2.5rem 2rem;
                }
            }
        }

    }
}

@media screen and (min-width: 3000px) {
    .menu-container .menu {
        width: calc(#{$menu-width} * 2);

        ul {
            font-size: 3rem;
        }
    }

    .header {
        .contact-links {
            height: calc(#{$contactHeight} * 2);
            font-size: 2.5rem;
            
            #github-link, #linkedin-link {
                width: 3.75rem;
            }
        }
    }

    .main {
        margin-left: calc(#{$menu-width} * 1.6);
        width: calc(100vw - (#{$menu-width} * 1.6));
        &::before {
            height: calc(#{$contactHeight} * 6.5);
        }

        .fader {
            margin-top: 10rem;
        }
    }
}