@import 'variables.scss';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;

    .text-content {
        h1 {
            margin-left: -2rem;

            span {
                padding-left: 5px;
                font-size: 1em;
            }

            .highlight-color {
                font-size: 2em;
                color: $highlightFont;
            }
        }

        & > p {
            margin: 1rem 0;
        }
    }


    div h2 {
        margin-top: 3rem;
    }

    .section-title {
        position: relative;
        font-size: 2em;
        margin: 4em 0 3em;
        padding: 5px 12%;
        width: 100%;
        &::before {
            position: absolute;
            content: '';
            width: 40px;
            height: 4px;
            top: calc(50% - 4px);
            left: calc(12% - 48px);
            background: $highlightFont;
        }
        &::after {
            position: absolute;
            content: '';
            width: 110px;
            height: 150%;
            background: url('./assets/graphics/curved-arrow.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .intro {
        margin-bottom: 2rem;
    }

    .inline-link {
        text-decoration: underline;
        // text-decoration-color: $highlightFont;
        // background: $highlightFont;
        // margin: 0 0.1em;
        // outline: 0.2em solid $highlightFont;
        &:hover {
            cursor: pointer;
            text-decoration-color: $highlightFont;
        }
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: pink;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(#{$burger-dimensions} * 2.5);
    z-index: 10;

    //Fading gradient using pseudo element
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: calc(#{$contactHeight} * 2.5);
        z-index: 1;
        background: linear-gradient(to bottom, white 20%, rgba(0,0,0,0) 80%);
    }

    .banner {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1rem;
        right: 0;
        min-height: $contactHeight;
        height: 2.5vw;
        max-height: calc(#{$contactHeight} * 1.5);
        padding: 0;
        color: white;
        background: $darkmode-bg-color;
        clip-path: polygon(0.75% 0, 100% 0, 100% 100%, 0 100%);
        z-index: 2;
        
        .logo {
            position: relative;
            display: flex;
            align-items: center;
            height: 85%;
            margin: 0 10px;
            cursor: pointer;
            &::before {
                content: '';
                background: white;
                position: absolute;
                top: -20%;
                right: -5%;
                width: 2px;
                height: 140%;
                transform: rotate(3deg);
            }
        }

        .contact-links {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0.75rem;

            a {
                cursor: pointer;
                margin: 0 10px;
                font-size: 1rem;

                &:first-child {
                    margin-left: 0.5rem;
                }

                &:last-child {
                    margin-right: 1.5rem;
                }
            }

            .header-link {
                height: 100%;
                width: 1.75rem;
                background-image: url('./assets/github-logo.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                &:hover {
                    background-image: url('./assets/github-logo-hover.png');
                }
            }

            #email-link {
                background-image: url('./assets/email-icon.png');
                &:hover {
                    background-image: url('./assets/email-icon-hover.png');
                }
            }
            #linkedin-link {
                background-image: url('./assets/linkedin-logo.png');

                &:hover {
                    background-image: url('./assets/linkedin-logo-hover.png');
                }
            }
        }
    }
}

.menu-container {
    margin-top: 1rem;
    margin-right: 2rem;
    position: absolute;
    left: 1rem;
    width: calc(#{$burger-dimensions} * 1.5);
    height: calc(#{$burger-dimensions} * 1.5);

    .menu {
        position: fixed;
        top: 0;
        height: 2000px;
        min-height: 100vh;
        opacity: 1;
        left: 0;
        min-width: $menu-width;
        max-width: 500px;
        width: 15vw;
        transition: right 400ms ease-out, opacity 500ms ease;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: $darkmode-bg-color;
        clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
        z-index: 1;

        #darkmode-container {
            position: absolute;
            top: 20px;
            width: 100%;
            right: 0;
            padding-right: 15%;
            height: 30px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: white;

            #darkmode-toggler {
                width: 30px;
                height: 20px;
                display: flex;
                align-items: center;
                border: 1px solid white;
                border-radius: 10px;
                cursor: pointer;
                    
                div {
                    width: 14px;
                    height: 14px;
                    margin: 0 2px;
                    margin-left: 2px;
                    border-radius: 7px;
                    background: rgb(230,230,230);
                    transition: margin 150ms ease-in;
                }
            }
        }

        ul {
            margin-top: 20vh;
            margin-right: 25%;
            list-style: none;
            font-size: 1rem;
            transform: rotate(4deg);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;

            .link {
                position: relative;
                transform: rotate(-4deg);
                margin-bottom: 2.5rem;
                cursor: pointer;
                font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                text-decoration: none;
                color: white;
                transition: margin-right 200ms ease-in-out;

                &:hover {
                    text-shadow: 0 0 12px white;

                    &::before {
                        position: absolute;
                        left: -20px;
                        top: 0;
                        height: 100%;
                        width: 20px;
                        content: '‣';
                    }
                }
            }

            .active-link {
                color: $highlightFont;
                text-shadow: 0 0 4px $highlightFont;
                &:hover {
                    text-shadow: 0 0 4px $highlightFont;
                    // text-decoration: none;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    .menu-toggler {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;
        z-index: 10;

        &:checked {
            & + .burger-menu div {
                background-color: white;
                transform: rotate(225deg);
                &::after {
                    background-color: white;
                    top: 0;
                    transform: rotate(90deg);
                }

                &::before {
                    top: 0;
                    background-color: white;
                }
            }

            & ~ .menu {
                right: 0;
                opacity: 1;
            }
        }
    }
    
    .burger-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        z-index: 5;
        
        div {
           width: 80%;
           height: 7px;
           background-color: black;
           position: relative;
           transition: transform 400ms ease-in-out;
           
           &::before, &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 7px;
                background-color: black;
                transition: background-color 2s ease;
            }
            
            &::before {
                top: -15px;
           }

           &::after {
               bottom: -15px;
           }
        }
    }
}

.main {
    position: relative;
    min-height: 100vh;
    width: calc(100vw - ((#{$menu-width} + 15vw) / 2));
    margin-left: calc((#{$menu-width} + 15vw) / 2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .scrollToTop {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: calc(#{$contactHeight} * 1.4);
    padding-top: calc(#{$contactHeight} * 1.2);
    overflow-x: hidden;

    & > .text-content {
        width: 70%;
        display: flex;
        flex-direction: column;

        h1, h2, p {
            align-self: flex-start;
        }

        p {
            margin-top: 1rem;
        }

        ul {
            margin: 0;
        }
        &:last-child {
            padding-bottom: 3rem;
        }
    }
}

.about-container, .contact-container {
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;

    & > div {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            align-self: flex-start;
        }

        ul {
            margin: 0;
        }
        &:last-child {
            padding-bottom: 3rem;
        }
    }
}

.contact-container {
    & > div {
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & > div {
            align-self: flex-start;
            width: 40%;
        }
        form {
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            width: 40%;

            & > input, & > textarea {
                margin-bottom: 1rem;
                outline: none;
                // border-radius: 10px;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border: none;
                background: rgba($darkmode-bg-color, 0.85);
                border: 1px solid white;
                color: white;
                padding: 0.5rem;

                &::placeholder {
                    color: white;
                }
            }

            button {
                width: 40%;
                margin: 1rem auto 0;
                background: rgba($darkmode-bg-color, 0.85);
                padding: 0.5rem;
                border: 1px solid white;
                color: white;
                border-radius: 10px;

                &:hover, &:focus {
                    box-shadow: 0 0 3px 3px rgba(255,255,255,0.4);
                }
            }

            textarea {
                resize: none;
            }
        }
    }
}

#home {
    display: none;
}

#projects {
    display: flex;
}

#contact {
    display: none;
}

.fader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 1300px;
    opacity: 0;
    color: black;
    margin-bottom: 2rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0px rgba($primary, 0.95);
    // clip-path: polygon(4% 0, 100% 0, 96% 100%, 0 100%);
    transform: translateX(25vw);
    transition: transform 650ms ease-out, opacity 250ms ease-in, width 400ms ease-in-out;
    
    .project-description {
        border-bottom: 0.5rem solid white;
        align-self: center;
        position: relative;
        width: calc(100% - 5rem);
        margin: 1rem 2.5rem 0;
        height: 5em;
        overflow: hidden;
        background-color: rgba(255,255,255,0);
        outline: 10px solid rgba(255,255,255,0);
        transition: background-color 600ms ease, outline 500ms ease;

        h3 {
            font-size: 1.5em;
        }

        &::after {
            position: absolute;
            content: '[Read more...]';
            text-align: left;
            bottom: 0;
            padding-top: 0.2em;
            left: 0;
            width: 100%;
            height: 1.5em;
            font-size: 0.8em;
            background: white;
        }

        & > div {
            margin-top: 0.25rem;
            margin-bottom: 0.5rem;
        }

        .description {
            // white-space: nowrap;
            overflow: hidden;
            // text-overflow: ellipsis;
            font-size: 1em;
            padding-bottom: 1em;
            position: relative;
            height: 3.7rem;

            & ~ div {
                width: 80%;
                margin: 0 auto;
            }
        }

        .close-description {
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            top: -25px;
            right: 10px;
            color: black;
            cursor: pointer;
        }

        &:hover {
            position: absolute;
            text-align: center;
            padding-top: 1rem;
            width: 100%;
            height: 85%;
            z-index: 50;
            white-space: normal;
            overflow: visible;
            width: calc(100% - 2rem);
            margin: 1.5rem auto;

            &::after {
                display: none;
            }

            & + .image-container {
                margin-top: 7.5rem;
                opacity: 0.05;
                transition: opacity 600ms ease-out;
            }

            h3 {
                font-size: 1.5rem;
            }

            .description {
                text-align: center;
                font-size: 1.2em;
                margin-top: 2rem;
                padding: 0 15%;
                white-space: normal;
                height: 70%;
                overflow-y: auto;
                transition: margin-top 600ms ease-in-out;

                p {
                    margin-top: 0.5rem;
                }

                p:first-child::after {
                    display: none;
                }
            }
        }
    }

    .image-container {
        position: relative;
        background: white;
        width: 90%;
        margin-bottom: 0.5rem;
        // box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
        z-index: 0;

        &::before, &::after {
            position: absolute;
            content: '';
            bottom: 9px;
            width: 45%;
            height: 20px;
            background: rgba(0,0,0,0.3);
            box-shadow: 0 0 5px 8px rgba(0,0,0,0.3);
            z-index: -1;
        }

        &::before {
            left: 10px;
            transform: rotate(-1.5deg);
        }

        &::after {
            right: 10px;
            transform: rotate(1.5deg);
        }

        &:hover {
            &::before, &::after {
                display: none;
            }
        }

        img {
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
        }
    }

    .project-links {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
        width: 90%;

        a {
            max-width: 45%;
            max-height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,0.05);
            border: 1px solid black;
            padding: 1rem;
            color: black;
            text-align: center;
            text-decoration: none;

            &:hover {
                background: rgba(0,0,0,0.8);
                color: pink;
            }
        }
    }
}

.appear {
    transform: translateX(0);
    opacity: 1;
}

.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 99;

    .image {
        width: 75vw;
        height: 50vw;
        max-width: 75vw;
        max-height: 75vh;
        opacity: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: opacity 800ms ease;

        &:hover {
            opacity: 1;
        }
    }

    .close-fullscreen {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        top: 2vh;
        right: 2vh;
        width: 60px;
        height: 60px;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    padding: 3rem 0;
    margin-top: 4rem;
    width: calc(100% - 30px);
    border-top: 1px solid $darkmode-bg-color;
}

@media screen and (hover: none) {
    .fullscreen {
        .image {
            opacity: 1;
        }

        .action-message {
            color: white;
            margin: auto;
            z-index: -1;
        }

        .close-fullscreen {
            display: flex;
        }
    }

    .project-description:hover {
        .close-description {
            display: flex;
        }
    }

}

@media screen and (max-width: 350px) {
    .logo {
        width: 0;
    }
}

@media screen and (max-width: 750px) {

    body {
        font-size: 0.8rem;
        h1 {
            margin-left: -0.3rem;
        }
    }

    .header {

        .banner {
            top: 0;
            height: calc(#{$contactHeight} * 1.5);
            clip-path: none;
            justify-content: flex-end;
            background: none;

            .logo {
                height: 55%;
                right: 1rem;
                &::before {
                    display: none;
                }
            }
            .contact-links {
                display: none;
                width: 0;
            }
        }
    }


    .fullscreen {

        .close-fullscreen {
            width: 40px;
            height: 40px;
            font-size: 2rem;
        }
    }

    .main {
        width: 95vw;
        margin: 0 auto;

        &::before {
            display: none;
            width: 100%;
        }

        .container {
            margin: 0 auto;
            height: 100%;
            gap: 2rem;
            padding-top: calc(#{$contactHeight} * 1.5 + 1rem);

            & > .text-content {
                width: 90%;
            }
        }

        .fader {
            width: 95%;
            max-width: 550px;
            clip-path: none;
            padding: 0 0.75rem;

            .project-description {
                height: 4.2rem;
                border-bottom: 0.5rem solid white;

                &:hover {
                    margin: 2rem 0 0;
                    padding-top: 1rem;
                    width: 100%;
                    height: 85%;
                    border-bottom: none;


                    & + .image-container {
                        margin-top: 6.5rem;
                    }

                    h3 {
                        font-size: 1.2rem;
                    }

                    & > div {
                        margin: 0.5rem;
                    }
                }
            }

            .image-container {
                margin: 0 auto 1rem;
                &::before, &::after {
                    display: none;
                }
            }

            .project-links a {
                font-size: 0.5rem;
                padding: 0.25rem 1rem;
            }
        }

        .contact-container {
            & > div {
                flex-direction: column;
                & > div {
                    width: 80%;
                    align-self: center;
                    margin-bottom: 2rem;
                }
                form {
                    width: 80%;
                    align-self: center;
                }
            }
        }

        .footer {
            margin: 0 auto;
        }
    }

    .menu-container {
        z-index: 20;

        .menu-toggler {
            display: block;
        }
    
        .menu {
            top: -110vh;
            opacity: 0;
            left: 0;
            width: 100vw;
            max-width: 100vw;
            height: 100vh;
            clip-path: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,0.97);
            transition: top 400ms ease 400ms, opacity 400ms ease;

            #darkmode-container {
                right: 30px;
                padding: 0;
            }

            ul {
                margin: 0;
                transform: rotate(0);
                font-size: 1.5rem;
                .link {
                    transform: rotate(0);
                }
                li {
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
        width: $burger-dimensions;
        height: $burger-dimensions;

        .burger-menu {
            display: flex;

            div {
                height: 5px;
                
                &::before {
                    top: -10px;
                    height: 5px;
                }
                
                &::after {
                    bottom: -10px;
                    height: 5px;
                }
            }
        }
    }

    .menu-toggler:checked ~ .menu {
        top: 0;
        opacity: 1;
        transition: top 400ms ease 40ms;
    }

    .menu-toggler:not(:checked) ~ .menu {
        opacity: 0;
    }

    .no-select {
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
}

@media screen and (min-width: 900px) {
    .fader {
        .image-container {
            margin: 1rem 1rem 1.5rem;
        }
    }

    .menu-container .menu {
        ul {
            font-size: 1.2rem;
        }
    }

    #email-link, #github-link, #linkedin-link {
        width: 2rem;
    }
}

@media screen and (min-width: 1900px) {

    body {
        font-size: 1.5rem;
    }

    .main::before {
        background: linear-gradient(to bottom, white 55%, rgba(0,0,0,0) 100%);
    }

    .header {
        height: calc(#{$burger-dimensions} * 3.5);

        .banner {
            .contact-links span {
                font-size: 1.5rem;
            }
        }
    }

    .container {
        padding-top: calc(#{$contactHeight} * 5);
        padding-top: 5vw;
    }

    .menu-container .menu {

        ul {
            font-size: 1.8rem;
        }
    }

    .projects-container {

        .fader {
            margin-top: 4rem;
            padding: 2.5rem;

            &:first-child {
                margin-top: 0;
            }

            .image-container {
                &::before, &::after {
                    bottom: 10px;
                    width: 75%;
                }
        
                &::before {
                    transform: rotate(-1deg);
                }
        
                &::after {
                    transform: rotate(1deg);
                }
            }
        }

    }
}

@media screen and (min-width: 3000px) {

    body {
        font-size: 2.5rem;
    }

    .menu-container .menu {

        ul {
            font-size: 2.5rem;
        }
    }

    .header {
        .banner {
            max-height: calc(#{$contactHeight} * 2.5);
            padding: 0.5rem;
            .contact-links span {
                font-size: 2.5rem;
            }
        }
    }

    .main {
        &::before {
            background: none;
        }

        .container {
            height: 100%;
            margin-top: 0;
        }

        .fader {
            max-width: 3000px;
            padding: 3rem 4rem;
            margin-top: 10rem;
            font-size: 1.2em;

            .project-description::after {
                bottom: 0.2em;
            }

            .image-container::before, .image-container::after {
                bottom: 15px;
            }
        }
    }
}

.dark-mode {
    background: $darkmode-bg-color;
    color: white;
    .menu-container .burger-menu > div,
    .menu-container .burger-menu > div::before,
    .menu-container .burger-menu > div::after {
        background: white;
    }

    .menu {
        background-color: rgba($darkmode-menu-color, 0.98);
    }

    .banner {
        background: rgba($header-bg-color, 0.6);
        background: none;
    }

    .header::before {
        background: linear-gradient(to bottom, $darkmode-bg-color 20%, rgba(0,0,0,0) 100%);
    }

    .fader {
        background: none;
        box-shadow: 0 0 4px 0 rgba($highlightFont, 0.7);
        color: white;

        .project-description {
            border-bottom: 0.5rem solid $darkmode-bg-color;
            &::after {
                background: $darkmode-bg-color;
            }
            p:first-child::after {
                background: $darkmode-bg-color;
            }
        }

        .image-container {
            background: $darkmode-bg-color;
        }

        .project-links a {
            border: 1px solid white;
            color: white;
        }
    }

    .footer {
        border-top: 1px solid white;
    }
}